@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our cite!</h1>
   
    <h2>AI Recommendation:</h2>
    <p>@ViewBag.Recommendation</p>

</div>
